<div *ngIf="post != null" class="card post">
  <div class="card-body" id='postDiv'>
    <div class="center" *ngIf="post.image === true">
        <img [attr.src]=post.content[0]>
        <!-- <p> posted by:<a href="{{'/users/' + post.user}}"> {{post.user}}</a></p> -->
    </div>
    <div *ngIf="post.image === false">
      
      <div *ngFor="let word of post.content">
      
        <div *ngIf="post.hashtags.includes(word); else text">
          <a class="float-left pr-1" href="{{'/hashtag/' + word.slice(1)}}" [attr.id]=post.id>{{word}}</a>
        </div>
        <ng-template #text>
          <p class="float-left pr-1">{{word}}</p>
        </ng-template>
      </div>
      
  </div>

 

 



  </div>
  <div class="bottom bg-light d-inline-flex pr-3 pl-3">

    <div class="">

      <p> Gepostet von:<a href="{{'/users/' + post.user}}"> {{post.user}}</a></p>

    </div>

    <div class="likebuttons ml-auto">

      <app-like-button [post]="post" class="pr-3"></app-like-button>
      <app-dislike-button [post]="post"></app-dislike-button>

    </div>
    

  </div>

</div>
