.post {
  margin-bottom: .5rem;
}

.bottom{
  height:auto;
  padding:.5rem;
}

.likebuttons{
  float:right;
  margin-right:.5rem;
}

img{
  max-width:100%;
}

.center{
  display:block;
  text-align: center;
}
