<form (submit)="$event.preventDefault(); addPost(postContent.value)">
  <div class="form-group">
    <label class="sr-only" for="postContent">Write down your thoughts...</label>
    <textarea #postContent class="form-control" id="postContent" placeholder="Schreibe etwas..."
              rows="3"></textarea>
  </div>

  <button class="btn btn-primary" type="submit">Senden</button>
</form>

<!--<form (submit)="$event.preventDefault(); addImage($event)">-->
  <div class="form-group mt-4">
      <div class="filebutton">
        <label class="pr-3">Bild hochladen:</label>
        <input class="btn btn-secondary" type="file" id="imagefile" accept="image/*" (change)="addImage($event)">
      </div>
  </div>

<!--</form>-->


<hr>

<!-- Placeholder, if no posts are available -->
<div *ngIf="posts?.length === 0" class="container">
  <h1 class="mt-5">Keine Posts :/</h1>
  <p class="lead">Es sind noch keine Posts vorhanden! Vielleicht solltest du etwas schreiben...</p>
</div>

<!-- Render posts -->
<app-post *ngFor="let post of posts" [post]="post"></app-post>
